[Unit]
Description=Run Levels Ingest every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Unit=levels-ingest.service

[Install]
WantedBy=timers.target
