[Unit]
Description=Levels Ingest Job

[Service]
Type=oneshot
WorkingDirectory=/srv/personal/levels
EnvironmentFile=/srv/personal/levels/.env
ExecStart=/usr/bin/python3 /srv/personal/levels/app/ingest.py
